div {
  border: 1px solid #88d;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
}
div.Attribute {
  border: 1px solid #d88;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
}
div.Attribute span.name {
  margin: 3px 3px 3px 3px;
}
div.Attribute span.total {
  margin: 3px 3px 3px 3px;
}

